<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/css/bootstrap.min.css"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title></title>
</head>
<body>

	<div class="card" style="width: 35%;margin-left: 550px;margin-top: 200px;">
		<article class="card-body">
		<a href="register" class="float-right btn btn-outline-primary">Register</a>
		<h4 class="card-title mb-4 mt-1">Log in</h4>
		<form action="checklogin" method="post">
		    <div class="form-group">
		    	<label>Your's ID</label>
		        <input name="username" class="form-control" placeholder="ID" type="text">
		    </div> <!-- form-group// -->
		    <div class="form-group">
		    	<a class="float-right" href="#">Forgot?</a>
		    	<label>Your password</label>
		        <input name="password" class="form-control" placeholder="******" type="password">
		    </div> <!-- form-group// --> 
		    <div class="form-group"> 
		    </div> <!-- form-group// --> 
                    <p style="color:red"><th:block th:text="${ERROR}"/></p>
		    <div class="form-group">
		        <button type="submit" class="btn btn-primary btn-block"> Login  </button>
		    </div> <!-- form-group// -->                                                           
		</form>
		</article>
</div>
</body>
</html>